<ion-header [translucent]="true">
  <ion-toolbar class="azul">
    <ion-title>
      <ion-img src="assets\images\logo.png" style="height: 150px;"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Cuidado Senior" src="assets/images/banner2.png" />
    <ion-card-header>
      <ion-card-title class="letra">Bienvenidos a Cuidado seniors</ion-card-title>
      <ion-card-subtitle class="letra">Un compromiso para los mejores!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Bienvenidos a cuidado senior, nuestra empresa tiene el gran compromiso del cuidado de las opersonas más vulnerables de la familia.
    </ion-card-content>
    <ion-button fill="clear" (click)="login()">Ingresar</ion-button>
    <ion-button fill="clear">Registrarse</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Enfermera" src="assets\images\Enfermera de ancianos.jpg" />
    <ion-card-header>
      <ion-card-title class="letra">Servicios</ion-card-title>
      <ion-card-subtitle class="letra">Conoce nuestros servicios</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ingresa y conoce nuestros servicios y planes, todo ellos se ajustan a las necesidades de nuestros pacientes junto a un grupo de profesionles de alta calidad.
    </ion-card-content>
  </ion-card>
  <ion-text color="primary">
    <h6>Derechos © Reservados</h6>
  </ion-text>
  <ion-header collapse="condense">
    <ion-toolbar>
       
    </ion-toolbar>
  </ion-header>
</ion-content>
